---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <div class="p-32">
      <h1 class="text-4xl">Kenshiata Studio</h1>
      <h2 class="text-2xl text-gray-800 pt-8">
        Where stories bring friends together !
      </h2>
    </div>

    <div class="w-full text-center">
      <a
        class="p-4 text-xl bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition-colors"
        href="/play"
      >
        Start your adventure
      </a>
    </div>
    <div class="w-full text-center py-16">
      <button
        class="p-4 text-xl bg-green-500 text-white rounded-lg hover:bg-green-600 transition-colors"
        id="login"
      >
        Login to your account
      </button>
    </div>
  </main>
  <script>
    import { userManager, getUserData } from "../services/auth.ts";

    getUserData().then((user) => {
      if (user) {
        console.log("User is logged in:", user);
      } else {
        console.log("No user is logged in.");
      }
    });

    document.getElementById("login")?.addEventListener("click", async () => {
      await userManager.signinRedirect();
    });
  </script>
</Layout>
