---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="bg-sand-200 min-h-full py-8">
    <div class="p-4 xs:p-8 lg:p-32">
      <h1 class="text-4xl">Kenshiata Studio</h1>
      <h2
        class="text-xl md:text-2xl text-brown-800 pt-8 max-w-[620px] text-justify"
      >
        Explorez les étendues désertiques et les saloons enfumés de SneakWater :
        résolvez des affaires de meurtres et tentez de faire fortune dans ce
        Nouveau Monde en pleine effervescence !
      </h2>
    </div>

    <div class="w-full text-center px-2 py-16 lg:py-0">
      <a
        class="p-4 text-xl bg-cactus-700 text-white rounded-lg hover:bg-cactus-800 transition-colors block w-fit mx-auto"
        href="/play"
      >
        Commencer votre aventure
      </a>
    </div>

    <div class="px-2 md:text-lg py-4 lg:py-12 lg:px-8">
      <p class="mx-auto max-w-[720px] text-justify text-brown-900/90">
        Vous vous apprêtez à découvrir la version bêta de Kenshiata Studio, une
        plateforme collaborative dédiée aux récits interactifs en multijoueur,
        créés par et pour la communauté. Vos retours sur cette première version
        sont précieux pour notre petite équipe de passionnés : ils guideront les
        orientations majeures du développement pour les mois à venir.<br />
        À terme, notre ambition est de mettre à votre disposition des outils accessibles
        vous permettant d’écrire vos propres aventures en ligne. Solo ou multijoueur,
        linéaire ou aux choix narratifs variés, vous définissez votre propre expérience
        de jeu. Inspiré par l’univers des jeux de rôle, notre système vous permettra
        de donner vie à des personnages complexes, dotés de compétences, de traits
        de caractère et de statistiques uniques. Vos personnages évolueront ensemble
        dans des univers variés. Incarnerez-vous un cow-boy solitaire, un bandit
        sans scrupules… ou un dragon déterminé à épouser une princesse ?<br />
        Pour les auteurs, nous travaillons sur un système de soutien et de rémunération,
        afin de valoriser ceux qui contribueront à faire vivre le jeu. Il est encore
        trop tôt pour en révéler les détails, mais il nous tient à cœur de récompenser
        le travail des créateurs à leur juste valeur.
      </p>
    </div>
  </main>
  <script>
    import { faro } from "@grafana/faro-web-sdk";
    import { get_id } from "../services/auth.ts";
    faro.api.setView({
      name: "homepage",
    });

    get_id().then((user) => {
      if (user) {
        faro.api.pushEvent("Visit homepage while being already connected");
      } else {
        faro.api.pushEvent("Visit homepage without being already connected");
      }
    });
  </script>
</Layout>
