---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="bg-sand-200 min-h-full py-8">
    <div class="p-8 lg:p-32">
      <h1 class="text-4xl">Kenshiata Studio</h1>
      <h2 class="text-2xl text-brown-800 pt-8">
        Where stories bring friends together !
      </h2>
    </div>

    <div class="w-full text-center py-16 lg:py-0">
      <a
        class="p-4 text-xl bg-cactus-700 text-white rounded-lg hover:bg-cactus-800 transition-colors"
        href="/play"
      >
        Start your adventure
      </a>
    </div>
  </main>
  <script>
    import { faro } from "@grafana/faro-web-sdk";
    import { get_id } from "../services/auth.ts";
    faro.api.setView({
      name: "homepage",
    });

    get_id().then((user) => {
      if (user) {
        faro.api.pushEvent("Visit homepage while being already connected");
      } else {
        faro.api.pushEvent("Visit homepage without being already connected");
      }
    });
  </script>
</Layout>
