---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <main>
        <div class="p-32">
            <h1 class="text-4xl">Happy to see you back, captain !</h1>
        </div>

        <div class="w-full text-center">
            <a
                class="p-4 text-xl bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition-colors"
                href="/play"
            >
                Continue your adventure
            </a>
        </div>
    </main>
    <script>
        import { userManager } from "../../services/auth.ts";

        userManager.signinCallback().then(function (user: any) {
            window.location.href = "/play";
        });
    </script>
</Layout>
